@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Playpen+Sans&display=swap");

/* resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Playpen Sans", sans-serif;
}

/* variables */
:root {
  --primary-color: #f9f6ee;
  --secondary-color: #edeade;
  --tertiary-color: #f3e5ab;
  --primary-text-color: rgb(255, 255, 255);
  --secondary-text-color: rgb(43, 43, 43);
}

body {
  background-color: var(--primary-color);
}

nav {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  padding: 0.375rem;
  height: 60px;
  width: 100%;
  margin-bottom: 1rem;
  box-shadow: 0px 5px 9px -8px rgba(0, 0, 0, 0.49);
  position: fixed;
  top: 0;
}

.nav-container .logo-container {
  font-size: 2rem;
  color: var(--secondary-text-color);
  padding: 0.15rem;
  padding-left: 10px;
  height: 100%;
  width: 180px;
}

.nav-container .menu-button {
  height: 52px;
  width: 52px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"/><line x1="3" y1="6" x2="21" y2="6"/><line x1="3" y1="18" x2="21" y2="18"/></svg>');
  background-repeat: no-repeat;
  cursor: pointer;
}

.menu-button:hover {
  height: 53px;
  width: 53px;
}

.nav-container a {
  text-decoration: none;
  color: inherit;
}

footer {
  background-color: var(--tertiary-color);
  height: 60px;
  width: 100%;
  box-shadow: 0px -9px 9px -8px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 1rem;
}

.add-list {
  height: 4rem;
  padding: 0.375rem;
  margin-top: 60px;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  margin-bottom: 0.375rem;
}

.settings-button {
  width: 50%;
  padding: 10px 4px;
  border: none;
  font-size: 1rem;
  background-color: #f3e5ab;
  border-radius: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.settings-button:hover {
  background-color: #dfcf8e;
  cursor: pointer;
}

.settings-button:active {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
  padding: 1rem;
  height: 100vh;
  width: 100%;
  margin: 0.375rem 0;
}

/* list container */
.list-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: var(--secondary-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  overflow: hidden;
}

.list-container > div:first-child {
  border-radius: 8px 8px 0 0;
}

.list-container > div:last-child {
  border-radius: 0 0 8px 8px;
}

.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20%;
  text-align: left;
  padding: 0.375rem;
  margin-bottom: 4px;
  background-color: #dfcf8e;
  overflow: hidden;
}

.list-header .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-settings-container {
  width: 75px;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  flex-direction: row;
}

.add-todoList {
  height: 20px;
  width: 20px;
  margin-top: 1px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"/><line x1="12" y1="8" x2="12" y2="16"/><line x1="8" y1="12" x2="16" y2="12"/></svg>');
  background-repeat: no-repeat;
  cursor: pointer;
}

.list-settings {
  height: 20px;
  width: 20px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"/></svg>');
  background-repeat: no-repeat;
  cursor: pointer;
}

.list-main {
  height: 100%;
  overflow: auto;
}

.todos-container {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.todos-container li {
  list-style: none;
}

.todos-container .checkDelete-container {
  display: flex;
  height: 100%;
  padding-top: 0.2rem;
  gap: 0.3rem;
}

.todos-container .checkDelete-container .list-delete {
  height: 20px;
  width: 20px;
  display: none;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"/><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/><line x1="10" y1="11" x2="10" y2="17"/><line x1="14" y1="11" x2="14" y2="17"/></svg>');
  cursor: pointer;
}

.todos-container .checkDelete-container .checkBox {
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"/></svg>');
  cursor: pointer;
}

.todos-container .checkDelete-container .checkBox.checked {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"/><polyline points="22 4 12 14.01 9 11.01"/></svg>');
  border: 1px solid red;
}

.todos-container .checkBox:hover,
.add-todoList:hover,
.list-settings:hover,
.checkDelete-container .list-delete:hover {
  height: 21px;
  width: 21px;
}

[contenteditable="true"] {
  border: 1px solid #81868d;
  background-color: #dfe0cf;
  padding: 2px;
}
